header {
 background: url(celery-man.jpg)  center no-repeat;
 background-size: cover;
}

.form-control {
    width: 50%;
    margin: 7px;
    padding: 5px
}

#employeeListDiv {
    margin-top: 10px
}

ul {
    font-size: 20px
}

li {
    padding: 5px
}

#deleteButton {
    float: right
}

#monthlyCostsDiv {
    margin-right: 5px
}

.overBudget {
    background: red;
}

#monthlyCostsDiv {
    float: right
}
