.jumbotron {
    text-align: center;
    text-shadow: 2px 2px black;
    font-family: 'Comic Sans MS', Courier, sans-serif;
    color: white;
    background: url(celery-man.jpg) center no-repeat
}

h2 {
    font-size: 25px;
    margin: 7px
}

.form-control {
    width: 50%;
    margin: 7px;
    padding: 5px
}

#deleteButton {
    float: center
}

#monthlyCostsDiv {
    float: right;
    margin-right: 5px
}

.overBudget {
    background: red;
}
