.jumbotron {
 background: url(celery-man.jpg)  center no-repeat;
 background-size: cover;
}

.table {
    width: 100%;
    border-collapse: collapse
}

ul {
    font-size: 40px
}

.overBudget {
    background: red
}